.container {
    width: 100% !important;
    padding-right: 0;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: none !important;
}  
        .row.logo {
    
    background-size: cover;
    background-position: center;
    color: rgba(0, 0, 0, 1);
    height: 100%;
    
}
.logo img {
    margin: auto;
    /* margin-top: -55px; */
    display: block;
    /* width: 100%; */
    background: white;
}
.row.review{
margin: auto;
    width: 100%;
    background: #d0e7e6;

}
.row.text {
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 100px;
}

iframe {
    margin: auto;
    margin-top: -82px;
}
.freebirdFormviewerViewEmbedded .freebirdFormviewerViewAccentBanner {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 8px;
    background-color: #8ae3e0 !important;
}
.freebirdSolidBackground {
    background-color: #8ae3e0 !important;
    color: rgba(0, 0, 0, 1);
    
}

p.paragraph {
    width: 500px;
    display: inline-block;
}